<!doctype html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>

{{>header}}
<br>
Заполните данные пользователя
<form method="post" action="createUser.html">
    Снилс <input name="snils">
    Имя <input name="name">
    Фамилия <input name="lastName">
    Отчество <input name="middleName">
    Возраст <input name="age">
    <input type="submit" value="Отправить">
</form>
</body>
</html>