<!doctype html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
{{>header}}

Имеющиеся пользователи:
<table>
    <tbody>
    <tr>
        <th>Снилс</th>
        <th>Имя</th>
    </tr>
    {{#allPeople}}
    <tr>
        <td>{{snils}}</td>
        <td>{{name}}</td>
    </tr>
    {{/allPeople}}
    </tbody>

</table>
</body>
</html>