<!doctype html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body>
{{>header}}
{{#operator}}
Вы залогинились как {{login}}
{{/operator}}
{{^operator}}

<form action="login" method="post">
    <table>
        <tbody>
        <tr>
            <td>Введите логин и пароль</td>
        </tr>
        <tr>
            <td>Логин</td>
            <td><input name="username" type="text"></td>
        </tr>
        <tr>
            <td>Пароль</td>
            <td><input name="password" type="password"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Отправить"></td>
        </tr>
        </tbody>

    </table>
</form>
{{/operator}}
</body>
</html>